<label for="">Server Name</label>
<!-- <input type="text" class='form-control' (input)="onUpdateServerName($event)"> -->
<input type="text" class='form-control' [(ngModel)]="serverName">


<button class="btn btn-primary" [disabled]='!allowNewServer' (click)="onCreateServer()">Add Server</button>
<p *ngIf="isServerCreated; else noServer ">server was created. Name is {{serverName}}</p>
<ng-template #noServer>
    <p>No server created </p>
</ng-template>




<a [href]="link">TEST</a>
<app-server *ngFor="let item of servers"></app-server>
<p *ngFor="let server of servers">{{server}}</p>


<hr>
<hr>
<button (click)='onDisplayDetailsClick()'>Display Details</button>
<p *ngIf='isParaVisible'>Secret Pass</p>
<p *ngFor='let item of logClick; let i = index' [ngStyle]='{backgroundColor:i>3?"red":"blue"}'
    [ngClass]='{whiteClass: i>3}'>count:
    {{item}}</p>